<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.camerademo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CameraActivityWithSurfaceViewAndCameraAPI"
            android:label="@string/title_activity_simple_camera"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SimpleCameraWithFileProviderActivity"
            android:label="@string/title_activity_simple_camera_with_file_provider"
            android:theme="@style/AppTheme.NoActionBar" >

            </activity>
        <activity
            android:name=".CameraActivityWithCameraAPI"
            android:label="@string/title_activity_camera_activity_with_camera_api"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.asus.camerademo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--<activity
            android:name=".CameraActivityWithSurfaceViewAndCameraAPI"
            android:label="@string/title_activity_camera_activity_with_surface_view_and_camera_api"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            >

        </activity>-->
        <activity
            android:name=".ViewtoBitmapWatermark"
            android:label="@string/title_activity_viewto_bitmap_watermark"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>
